/.cursor/
/.venv/
/.idea/
/iacheiki/
/Платежный документ 3_ОШИБКИ_2.pdf
/taroe/
/Платежный документ 3_ОШИБКИ.pdf
/Платежный документ 3-2.pdf
/app.zip
/testikOSR.zip
/pdf_markup_service_2.rar
/Платежный документ 3.pdf
/Платежный документ 1.pdf
/Платежный документ 2.pdf
/pdf_markup_service_3.zip
/что то раб.zip
/Платежный документ 3_ОШИБКИ_3.pdf
/payment_parser_server/
/output_ner/
/model/
/pdf_markup_service/app/model/
/pdf_markup_service/app/user_network/
/pdf_markup_service/output_images/
